<% include header %>
<style>
.lhc-t {
text-align: center;
}
.lhc-ye {
text-align: center;
}
.flr {
float: right;
}
</style>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script src="http://cdn.bootcss.com/es5-shim/4.5.9/es5-shim.min.js"></script>
<script src="http://cdn.bootcss.com/es5-shim/4.5.9/es5-sham.min.js"></script>
<script src="http://cdn.bootcss.com/es6-shim/0.35.1/es6-shim.min.js"></script>
<script src="http://cdn.bootcss.com/es6-shim/0.35.1/es6-sham.min.js"></script>
  <div id="app">loading...</div>
  <script src="http://7xsa52.com1.z0.glb.clouddn.com/qiantaiqt.js"></script>
<% include footer %>