<% include header %>
<style>
.lhc-t {
text-align: center;
}
.lhc-ye {
text-align: center;
}
.flr {
float: right;
}
</style>
  <div id="app">loading...</div>
  <script src="http://7xsa52.com1.z0.glb.clouddn.com/qiantaiqt.js"></script>
<% include footer %>